# Dependencias
node_modules
/vendor
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
composer.lock

# Archivos de entorno
.env
.env.local
.env.*.local
.env.backup
.env.development
.env.test
.env.production

# Archivos de construcción y distribución
/dist
/build
/public/hot
/public/storage

# Archivos de sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos de editores/IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/
*.code-workspace

# Logs y datos de ejecución
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos de caché
.cache/
.npm/
.eslintcache
.stylelintcache
*.tsbuildinfo

# Archivos de cobertura de pruebas
/coverage
.nyc_output
coverage.*

# Archivos temporales
*.swp
*.swo
*.tmp
*~
tmp/
temp/

# Archivos específicos para desarrollo en Windows
Thumbs.db
ehthumbs.db

# Archivos específicos de PHP
/bootstrap/cache/
.phpunit.result.cache
